[Unit]
Description=Firekeeper Karma Bot for SummonSign
After=multi-user.target

StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
Restart=on-failure
RestartSec=5s
Type=idle  
WorkingDirectory= /home/$USER/firekeeper/  
ExecStart=/usr/bin/python /home/$USER/firekeeper/firekeeper.py  
User=$USER  
KillSignal=SIGINT  


[Install]  
WantedBy=multi-user.target

