[Unit]
Description=Melina Karma Bot for BeyondTheFog
After=multi-user.target

StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
Restart=on-failure
RestartSec=5s
Type=idle  
ExecStart=/usr/bin/python /home/$USER/firekeeper/melina.py  
User=pi  

[Install]  
WantedBy=multi-user.target

