[Unit]
Description=Patches Karma Bot for PatchesEmporium
After=multi-user.target

StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
Restart=on-failure
RestartSec=5s
Type=idle
WorkingDirectory= /home/$USER/firekeeper/  
ExecStart=/home/$USER/firekeeper/venv/bin/python /home/$USER/firekeeper/patches.py  
User=$USER  
KillSignal=SIGINT  


[Install]
WantedBy=multi-user.target

