[Unit]
Description=Patches Karma Bot for PatchesEmporium
After=multi-user.target

StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
Restart=on-failure
RestartSec=5s
Type=idle
ExecStart=/usr/bin/python /home/$USER/firekeeper/simple_flair_bot/patches_bot.py
User=pi

[Install]
WantedBy=multi-user.target

